<!DOCTYPE html>
<html>
<head>
  <title></title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body background="http://wallpapercraze.com/images/wallpapers/vinyl_graffiti_w1.jpeg" >
    <script>
        var starttime;
        var socket = io();
        socket.on('openLink', function(songUrl){
            console.log(songUrl);
            x = songUrl.split('&')[0].split('=')[1];
            songUrl = "https://www.youtube.com/embed/"+x+"?autoplay=1&controls=0&showinfo=0";
            console.log(songUrl);
            document.getElementById("player").setAttribute('src', songUrl);
        });
    
        var songPlay = function(){
            console.log("inside click function");
            songUrl = document.getElementById('songUrl').value;
            console.log(songUrl);
            url = window.location.href;
            url = url.split('/');
            len = url.length;
            username = url[len-1];
            socket.emit('playSong', username, songUrl);
        };
    </script>

<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index">Music Box</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Create a Room</p></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
      <ul id="login-dp" class="dropdown-menu">
        <li>
           <div class="row">
              <div class="col-md-12">
                Login via
                <div class="social-buttons">
                  <a href="#" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
                  <a href="#" class="btn btn-tw"><i class="fa fa-twitter"></i> Twitter</a>
                </div>
                                or
                 <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                    <div class="form-group">
                       <label class="sr-only" for="exampleInputEmail2">Email address</label>
                       <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
                    </div>
                    <div class="form-group">
                       <label class="sr-only" for="exampleInputPassword2">Password</label>
                       <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                             <div class="help-block text-right"><a href="">Forget the password ?</a></div>
                    </div>
                    <div class="form-group">
                       <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </div>
                    <div class="checkbox">
                       <label>
                       <input type="checkbox"> keep me logged-in
                       </label>
                    </div>
                 </form>
              </div>
              <div class="bottom text-center">
                New here ? <a href="#"><b>Join Us</b></a>
              </div>
           </div>
        </li>
      </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <div class="row">

  <div class="col-sm-offset-4 col-sm-5">
  <h2 align="center" style="color:white;"><b>Submit Music Url</b></h2>
<div class="row form-group">
        <iframe id="player" width="420" height="345" src=""></iframe>
        <div class="input-group">    
            <input id="songUrl" type="url" class="form-control">
          
            <button id="playButton" onclick=songPlay()>Play</button>
        </div>
    </div> 

    

    </div>
    </div>
</div>
</body>
</html>






  
    <script>
        
        socket.on('copyLink', function(link) {
            document.getElementById('link').innerHTML = link;
        });

    </body>
</html>
